
  *{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    }
    *:not(footer){
        background-color: #e8ab02 ;
    }
    #gridContainer{
        display: grid;
        grid-template-columns: 150px auto auto;
        grid-template-rows: auto 200px 200px;
        grid-template-areas:    "menu menu"
                                "foto+reviews foto+reviews"
                                " footer footer"
                                ;
    }
    section>header{
        color:#FFD700	;
        padding: 0px 0px 0px 40px;
        line-height: 0.2;
    }
    section>header>h3{
        color: #000000;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    footer{
        color: #ffffff;
        }
    div.foto {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 33,33%;
        box-shadow: 15px 10px 5px #808080;
    }

    div.foto:hover {
        border: 1px solid #777;
    }

    .foto img {
        width: 100%;
        height: auto;
    }

    div.gerecht {
        padding: 15px;
        text-align: center;
    }   
    #footer{
        width: auto;
        height: auto;
    }
    #menuMOBILE{
        position: fixed; 
    }
    #menuMOBILE>nav#opendichtMenu{
        display: none;
    }
    
    g#menuMOBILE>nav#opendichtMenu:target{
        display: block;
        position: fixed;
  
        top: 0
        bottom: 0;
        left:0;
        right:0;
    
        background-color: #ffffff;
        border: 1px solid black;
    }
    #foto{
        width: 1fr 1fr 1fr;
    }
    div#foto{
        width: 1fr 1fr 1fr;
    }
 
