*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black ;
  margin-bottom: 20px;
}
body{
    margin:2px ;
  }
#gridContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:  auto auto auto;
    grid-template-areas:             
                                             "menu menu"
                                             "foto foto"
                                             "footer footer ";
    grid-gap: 16px;
}
/--------------------------header----------------------/
#header{
    padding: 0px 0px 0px 40px;
    line-height: 1.2;
}
b{
  color: gold;
}
i{
    color: white;
}
div.fototekst>p{
  color: red;
}
/----------------------------foto--------------------/
.foto{
  grid-area: foto;
}
.foto>img{
    float: right;
    box-shadow: 15px 10px 5px #808080;  
    width: 10%;
    height: auto;
    margin: 0px 0px 10px 0px;
}
/-------------------grops-----------------------/

.container {
    position: relative;
    width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .75s ease-in-out;
    background-color: red;
}
.container:hover.overlay {
    opacity: 1;
}
.text {
    color: red;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 20%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
div.foto {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 33,33%;
}

div.foto:hover {
    border: 1px solid #777;
}

div.gerecht {
    padding: 15px;
    text-align: center;
} 

/------------------------------footer-----------------/
  .footer{
    margin: 25px;
    padding: 20px
  }
  footer{
text-align: center
}
 ul{
  padding-left: 1px;
  margin-bottom: 1px 
}
/------------------------menu-------------------/
.MenuRechts{  
    display: inline;  
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    float: right;
    text-decoration: none;
    position: fixed;
}
#menuus{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
    position: fixed;
}
.menuus>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.menuus>li {
    float: right;
    position: fixed;

}
.menuus>li>a {
    display: inline;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: fixed;

}
li>a:hover:not(.active) {
    background-color: black;

}
.menuus>#links{
    float: left;

}
a.MenuRechts{
    float: right;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 37px;
    list-style-type: none;
}
ul#Links{
    width: 100%;
    height: 20%;
}
h2{
    padding-left: 10px;
}
nav#Menu{
  height: 100px;
  width: 100%;
}

@media only screen and (max-width: 600px) {

  /---------------header----------/
.header{
    line-height: 1.2;
    text-decoration: none;
    padding: 0px 0px 0px 40px;
}
 /------------footer--------------------/

  footer{
    text-align: center;
    
 
}
 ul{
  padding-left: 1px;
  margin-bottom: 1px 
}
div.footer{
  color:aliceblue
}
img {
  float: right;
  opacity: 0.80;
   width: 100%;
    padding: 0px 1px 0px 5px;

  }

#gridContainer {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows:  auto;
    grid-template-areas:             
                                             "menu "
                                             "foto "
                                             "footer  ";
}