*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black ;
}
body{
    margin:2px ;
  }
#gridContainer {
    display: grid;
    grid-template-columns: ;
    grid-template-rows:  auto auto ;
    grid-template-rows:  auto auto ;

    grid-template-areas:   
                                            "menu menu"
                                             "voorbereiding voorbereiding"
                                             "voorbereiding voorbereiding"
                                             "contact  contact";
    grid-gap: 16px;
}
/-------------------header---------------------/
  .header{
    line-height: 0.2;
    text-decoration: none;
}

/----------------------------voorbereiding----------------/
.voorbereiding{
    padding-right: 10px;
    grid-area: voorbereiding;
}
img {
    float: center;
    box-shadow: 15px 10px 5px #808080;
    width: 100%;
}
#tekst{
    width: 40%;
    float: right;
    text-align: justify;
    text-justify: inter-word;
    padding: 40px 40px 40px 40px;
    margin: 20px 20px -65px 20px;
}
/------------------------------footer---------------------/
.footer {
    grid-area: footer;
    width: 33%;
    display: inline-block;
}
.footer>img{
    width: 10%;
    margin: 1px 1px 1px 1px;
}

/------------------------menu-------------------/
.MenuRechts{  
    display: inline;  
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    float: right;
    text-decoration: none;
    position: fixed;
}
#menuus{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
    position: fixed;
}
.menuus>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.menuus>li {
    float: right;
    position: fixed;

}
.menuus>li>a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: fixed;

}
li>a:hover:not(.active) {
    background-color: black;

}
.menuus>#links{
    float: left;
        color: white


}
a.MenuRechts{
    float: right;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 37px;
    list-style-type: none;
    color: red
}
ul#Links{
    width: 100%;
    height: 20%;
    list-style-type: none;
}
h3.ondertitel{
    color: white;
}
h2{
    padding-left: 10px;
    color: goldenrod;
        list-style-type: none;

}
a>i{
    color:white
        list-style-type: none;

}




@media only screen and (max-width: 600px) {
      body{
          margin:2px ;
      }
      #gridContainer {
          display: grid;
          grid-template-columns: auto ;
          grid-template-rows:  auto  ;

          grid-template-areas:   
                                  "header "
                                  "voorbereiding "
                                  "voorbereiding "
                                  "contact  ";
          grid-gap: 16px;
      }
  /-------------------header---------------------/
  .header{
    line-height: 0.2;
    text-decoration: none;
}


  /----------------------------voorbereiding----------------/
       img {
    float: center;
    box-shadow: 15px 10px 5px #808080;
    width: 100%;
}
      #tekst{
          width: 100%;
          text-align: justify;
          text-justify: inter-word;
          margin: 20px 20px -65px 20px;

      }
      div#tekst{
          color: red
      }
        .voorbereiding{
          padding-right: 10px;
          grid-area: voorbereiding;
      }
   /------------footer--------------------/
.footer{
    margin: 25px;
    padding: 20px
  }
footer{
    text-align: center
}
ul{
    padding-left: 1px;
    margin-bottom: 1px 
}
div.footer{
    color: red;
}
  /--------------------------menu----------------------/


}